@import url(reset.css);
body {
  background-color: #fff;
}
a {
  cursor: pointer;
}
a:focus {
  outline: none;
}
.z {
  z-index: 1;
}
.oh {
  overflow: hidden;
}
.fixedHeaderRow {
  width: 95%;
  overflow: hidden;
  max-width: 1175px;
  margin: 0 auto;
}
/*.container{
	width: 100%;
	max-width: 1175px;
	margin: 0 auto;
}*/
a {
  text-decoration: none;
}
.mb {
  margin-bottom: 15px;
}
.va {
  display: inline-block;
  vertical-align: middle;
}
.fl {
  float: left;
}
.clear {
  clear: both;
  display: block;
}
.icon {
  background: url(../img/sprite.png);
}
.icon-small {
  width: 40px;
  height: 40px;
}
.icon-middle {
  width: ;
  height: ;
}
.icon-big {
  width: 80px;
  height: 80px;
}
.icon-custom {
  width: 60px;
  height: 60px;
  background-position: 0 -215px;
}
.icon-pc {
  width: 73px;
  height: 60px;
  background-position: -104px -130px;
}
.icon-design {
  width: 41px;
  height: 60px;
  background-position: -453px -215px;
}
.icon-code {
  width: 56px;
  height: 60px;
  background-position: -372px -215px;
}
.icon-ship {
  width: 72px;
  height: 60px;
  background-position: -202px -130px;
}
.icon-free {
  width: 79px;
  height: 60px;
  background-position: 0px -130px;
}
.icon-f {
  background-position: -159px 0;
}
.icon-f:hover {
  background-position: -159px -65px;
}
.icon-t {
  background-position: -203px 0;
}
.icon-t:hover {
  background-position: -203px -65px;
}
.icon-in {
  background-position: -247px 0;
}
.icon-in:hover {
  background-position: -247px -65px;
}
.icon-f-footer {
  background-position: 0 0;
}
.icon-f-footer:hover {
  background-position: 0 -65px;
}
.icon-t-footer {
  background-position: -47px 0;
}
.icon-t-footer:hover {
  background-position: -47px -65px;
}
.icon-in-footer {
  background-position: -94px 0;
}
.icon-in-footer:hover {
  background-position: -94px -65px;
}
.header__wrap {
  margin-bottom: 210px;
}
.header__wrap .fixedHeaderRow {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.bg {
  min-height: 960px;
  padding-top: 15px;
  position: relative;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.bg:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.logo a {
  border: 0;
}
.logo a img {
  width: 40px;
  height: 40px;
}
.menu {
  padding-top: 9px;
  text-align: right;
}
.menu ul li {
  margin-right: 56px;
  display: inline-block;
}
.menu ul li:last-child {
  margin-right: 0;
}
.menu ul li a {
  position: relative;
  text-transform: uppercase;
  font: 13px "Bold", sans-serif;
}
.menu ul li a:after {
  background-color: #00b7f1;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu ul li a:hover {
  color: white;
}
.menu ul li a:hover:after {
  width: 100%;
}
.menu ul li a:focus {
  outline: 0;
}
._mPS2id-h {
  color: rgba(255, 255, 255, 0.7);
}
.mPS2id-highlight {
  color: white;
  border-bottom: 2px solid #00b7f1;
}
.KRS__header {
  position: relative;
  z-index: 1;
  text-align: center;
}
.KRS__header .KRS__999 {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto 15px auto;
}
.KRS__header .KRS__999 .cl-effect-12 a::before {
  top: 36%;
  width: 260px;
  height: 260px;
  border: 4px solid rgba(0, 183, 241, 0.9);
}
.KRS__header .KRS__999 .cl-effect-12 a::after {
  display: none;
}
.KRS__header .KRS__999 .photo {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  background-position: center center;
  background-image: url(../img/KRS999.jpg);
}
.KRS__header span {
  color: #fff;
  display: block;
  font: 36px "Rewritten", sans-serif;
}
.KRS__header p {
  color: #fff;
  font: 22px "Regular", sans-serif;
  line-height: 33px;
}
/*Второе меню*/
.headhesive {
  width: 100%;
  padding: 8px 0 5px 0;
  position: fixed;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transform: translateY(-100%);
  background: rgba(0, 0, 0, 0.7);
  transition: 1s;
}
.headhesive--stick {
  transform: translateY(0);
}
.headhesive .fixedHeaderRow {
  border: 0;
  padding-bottom: 0;
}
/*Кнопка мини меню*/
#nav-icon2 {
  width: 30px;
  height: 23px;
  right: 15px;
  top: 9px;
  z-index: 9998;
  float: right;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon2 span:nth-child(even) {
  left: 47%;
}
#nav-icon2 span:nth-child(odd) {
  left: 3px;
}
#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 1px;
}
#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 10px;
}
#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 19px;
}
#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 5px;
}
#nav-icon2.open span:nth-child(2) {
  left: calc(45%);
  top: 5px;
}
#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 14px;
}
#nav-icon2.open span:nth-child(6) {
  left: calc(45%);
  top: 14px;
}
/*Кнопка мини меню*/
.myWork {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
}
.myWork span {
  color: #141414;
  display: inline-block;
  margin-bottom: 40px;
  text-transform: uppercase;
  border-bottom: 3px solid #00B7F1;
  font: 26px "Bold", sans-serif;
}
.myWork .site__wrap {
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(14, 14, 14, 0.5);
}
.myWork .site__wrap .site {
  width: 100%;
  height: 366px;
  border-radius: 5px;
  overflow: hidden;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  background-repeat: no-repeat;
  background-position: center top;
}
.myWork .site__wrap .site:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.myWork .site__wrap .site:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition: 1s;
  background: rgba(14, 14, 15, 0.4);
}
.myWork .site__wrap .site:hover:after {
  opacity: 1;
}
.myWork .site__wrap .site-1 {
  background-image: url(../img/site-1.jpg);
}
.myWork .site__wrap .site-2 {
  background-image: url(../img/site-2.jpg);
}
.myWork .site__wrap .site-3 {
  background-image: url(../img/site-3.jpg);
}
.myWork .site__wrap .site-4 {
  background-image: url(../img/site-4.jpg);
}
.skills {
  min-height: 750px;
  padding-top: 81px;
  position: relative;
  background-image: url(../img/skillWall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.skills:after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.skills .skills__wrapper {
  text-align: center;
}
.skills .skills__wrapper .span_1,
.skills .skills__wrapper .span_2 {
  color: #fff;
  z-index: 1;
  position: relative;
  display: inline-block;
  font: 26px "Bold", sans-serif;
  text-transform: uppercase;
  border-bottom: 3px solid #00B7F1;
}
.skills .skills__wrapper .span_1 {
  margin-bottom: 84px;
}
.skills .skills__wrapper .span_2 {
  margin-bottom: 28px;
}
.skills .skills__wrapper a {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 0, 0, 0.5);
  font: 22px "Rewritten", sans-serif;
  line-height: 100px;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}
.skills__ {
  width: 260px;
  height: 277px;
  margin: 0 auto 80px auto;
  z-index: 1;
  position: relative;
  background-image: url(../img/skillsImg.png);
}
.skills__ .skillsL {
  width: 35px;
  height: 35px;
  position: absolute;
  background-repeat: no-repeat;
}
.skills__ .skillsL.html__ {
  top: 10px;
  left: 113px;
  background-image: url(../img/html.png);
}
.skills__ .skillsL.css__ {
  bottom: 42px;
  left: 16px;
  background-image: url(../img/css.png);
}
.skills__ .skillsL.js__ {
  bottom: 42px;
  right: 16px;
  background-image: url(../img/js.png);
}
.skills__ .skillsL p {
  color: #141415;
  margin-top: 35px;
  font: 13px "OpenSansRegular", sans-serif;
}
.footer {
  background: #fcfcfc;
}
.footer__bottom {
  text-align: center;
  padding: 24px 0;
}
.footer__bottom #copyYear {
  color: #808080;
}
.footer__bottom a {
  color: #808080;
  position: relative;
  font: 14px "OpenSansBold", sans-serif;
  line-height: 22.5px;
}
.footer__bottom a:after {
  background-color: #00B7F1;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.footer__bottom a:hover:after {
  width: 100%;
}
.footer__bottom a span {
  color: #fff;
}
@media screen and (max-width: 991px) {
  .menu ul li {
    margin-right: 25px;
  }
}
@media screen and (max-width: 767px) {
  .footer__wrap .footer__box {
    margin-bottom: 30px;
  }
  .footer__wrap .footer__box:last-child {
    margin-bottom: 60px;
  }
  .header__wrap .fixedHeaderRow {
    padding-bottom: 10px;
  }
  .headhesive .fixedHeaderRow {
    padding-bottom: 0;
  }
  .headhesive .menu ul {
    display: none;
  }
  .menu {
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    text-align: center;
    display: none;
  }
  .menu ul {
    width: 100%;
    top: 38%;
    position: relative;
  }
  .menu ul li {
    padding: 20px 0;
    margin-right: 0;
    display: block;
  }
  .menu ul li a {
    font-size: 25px;
  }
  .myWork .site__wrap .site {
    height: 280px;
  }
}
@media screen and (max-width: 600px) {
  .KRS__header .menu ul li {
    margin-right: 30px;
  }
}
@media screen and (max-width: 400px) {
  .header__wrap .fixedHeaderRow {
    width: 90%;
  }
}
@media screen and (min-width: 767px) {
  .menu {
    display: inline-block !important;
  }
}
