@font-face {
	font-family: 'Bold';
	src: url(../fonts/Panton/Panton-Bold.otf);
}
@font-face {
	font-family: 'Regular';
	src: url(../fonts/Panton/Panton-Regular.otf);
}
@font-face {
	font-family: 'SemiBold';
	src: url(../fonts/Panton/Panton-SemiBold.otf);
}
@font-face {
	font-family: 'ExtraBold';
	src: url(../fonts/Panton/Panton-ExtraBold.otf);
}
@font-face {
	font-family: 'OpenSansBold';
	src: url(../fonts/OpenSans/OpenSansBold.ttf);
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url(../fonts/OpenSans/OpenSansRegular.ttf);
}
@font-face {
	font-family: 'Cardo-Italic';
	src: url(../fonts/Cardo-Italic.ttf);
}
@font-face {
	font-family: 'KRSfont';
	src: url(../fonts/KRS_Font.ttf);
}