@font-face {
  font-family: 'PlayfairDisplay';
  src: url(../fonts/PlayfairDisplay/PlayfairDisplay.ttf);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}
a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
td,
th {
  text-align: left;
  font-weight: 400;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
body {
  height: 2000px;
  color: #11264A;
  background-color: #ffffff;
  font: 15px "Roboto", sans-serif;
  font-weight: 500;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  text-decoration: none;
}
a:focus {
  outline: 0;
}
.icon {
  display: inline-block;
  background: url(../img/sprite.png);
}
.jq-selectbox {
  width: 100%;
  max-width: 344px;
  margin-right: 35px;
}
.jq-selectbox.focused .jq-selectbox__select {
  border: none;
  border-left: 2px solid #D4AC6B;
  border-right: 2px solid #FFDCA3;
}
.jq-selectbox__select {
  height: 50px;
  line-height: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  font: 15px "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 3px;
  margin-top: 3px;
}
.jq-selectbox__select:active {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.jq-selectbox__select:focus {
  border: none;
}
.jq-selectbox__select-text {
  line-height: 50px;
  color: rgba(17, 38, 74, 0.6);
}
.jq-selectbox__dropdown {
  background: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid rgba(17, 38, 74, 0.1);
}
.jq-selectbox__dropdown .disabled {
  display: none;
}
.jq-selectbox__dropdown ul li {
  font: 15px "Roboto", sans-serif;
  line-height: 50px;
  padding: 0 20px;
  border: 2px solid transparent;
}
.jq-selectbox__dropdown ul li:hover {
  color: inherit;
  font-weight: 500;
  background: #FBD9A3;
  border-color: #E4C89A;
}
.jq-selectbox__dropdown ul .selected {
  color: inherit;
  font-weight: 500;
  background: #FBD9A3;
  border-color: #E4C89A;
}
.jq-selectbox__trigger {
  border: none;
}
.jq-selectbox__trigger-arrow {
  width: 12px;
  height: 6px;
  top: 21px;
  right: 15px;
  border: none;
  background-image: url(../img/icon-5.png);
}
.jq-checkbox {
  width: 12px;
  height: 12px;
  background: #FBD9A4;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
.jq-checkbox.focused {
  border: none;
}
.jq-checkbox__div {
  height: 5px !important;
  margin: 2px 0 0 2px !important;
  border-color: #11264A !important;
}
.jq-selectbox .jq-selectbox__select,
.border {
  border: none;
  border-left: 2px solid #D4AC6B;
  border-right: 2px solid #FFDCA3;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, from(#D4AC6B), to(#FFDCA3)), -webkit-gradient(linear, left top, right top, from(#D4AC6B), to(#FFDCA3)) !important;
  background-image: linear-gradient(to right, #D4AC6B 0%, #FFDCA3 100%), linear-gradient(to right, #D4AC6B 0%, #FFDCA3 100%) !important;
}
.big-title {
  color: transparent;
  font: 200px "Playfair Display", serif;
  z-index: -1;
  font-weight: bold;
  line-height: 280px;
  position: absolute;
  background-color: rgba(232, 232, 232, 0.9);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  text-shadow: 3px -1px 8px #ffffff;
}
.cases {
  padding-top: 170px;
  position: relative;
}
.cases__wrap h1 {
  font-size: 40px;
  text-align: center;
  line-height: 49px;
  margin-bottom: 40px;
}
.cases__wrap .text {
  top: 29%;
  right: 4.3%;
  position: absolute;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.cases__wrap .big-title {
  line-height: 280px;
}
.cases__slider {
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(17, 38, 74, 0.2);
  box-shadow: 0px 4px 20px rgba(17, 38, 74, 0.2);
}
.cases__slider .owl-nav,
.cases__slider .owl-dots {
  bottom: 40px;
  position: absolute;
}
.cases__slider .owl-nav {
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 30px;
  z-index: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cases__slider .owl-nav button {
  width: 10px;
  height: 20px;
  display: block;
  margin-top: 19px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.cases__slider .owl-nav button:hover {
  opacity: 0.7;
}
.cases__slider .owl-nav button span {
  font-size: 0;
}
.cases__slider .owl-nav .owl-prev {
  margin-right: 16px;
  background-image: url(../img/icon-1.png) !important;
}
.cases__slider .owl-nav .owl-next {
  margin-left: 15px;
  background-image: url(../img/icon-2.png) !important;
}
.cases__slider .owl-nav p {
  color: #E8C48A;
  font: 45px 'PlayfairDisplay', serif;
  text-shadow: 0px 2px 6px rgba(251, 217, 164, 0.3);
}
.cases__slider .owl-nav p span {
  color: rgba(17, 38, 74, 0.5);
  font-size: 30px;
}
.cases__slider .owl-dots {
  left: 841px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cases__slider .owl-dots button {
  width: 6px;
  height: 6px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #11264A;
}
.cases__slider .owl-dots button:last-child {
  margin-right: 0;
}
.cases__slider .owl-dots .active {
  background-color: #C69642;
}
.cases .slider {
  width: 100%;
  overflow: hidden;
}
.cases .slider__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cases .slider__item-img {
  margin-right: 50px;
}
.cases .slider__item-img img {
  width: 100%;
  max-width: 791px;
}
.cases .slider__item-text {
  padding-top: 40px;
  padding-right: 40px;
}
.cases .slider__item-text_wrap .text__item:first-child {
  margin-bottom: 20px;
}
.cases .slider__item-text h2 {
  color: #C69642;
  font: 25px "Playfair Display", serif;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 25px;
}
.cases .slider__item-text h2 span {
  color: inherit;
  font: 45px 'PlayfairDisplay', serif !important;
  line-height: 35px !important;
}
.cases .slider__item-text p {
  font-weight: 400;
  line-height: 21px;
}
.cases .slider__item-text p span {
  font-weight: 500;
}
.cases .slider__item-text .subtitle {
  color: #11264A;
  font-size: 20px;
  line-height: 28px;
  display: block;
  margin-bottom: 10px;
}
.cases__center {
  padding: 35px 0 110px 0;
}
.cases__center h1 {
  color: #11264A;
  font: 25px "Playfair Display", serif;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 30px;
}
.cases__items {
  display: grid;
  grid-column-gap: 63px;
  grid-template-columns: repeat(4, 1fr);
}
.cases__items-item span {
  color: #C69642;
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 5px;
}
.cases__items-item p {
  color: #11264A;
  font-weight: 400;
}
.footer {
  width: 100%;
  min-height: 583px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.footer:after,
.footer:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.footer:after {
  background-size: cover;
  background-position: center;
  background-image: url(../img/line.png);
}
.footer:before {
  background: rgba(17, 38, 74, 0.6);
}
.footer__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
}
.footer__wrap-left {
  width: 100%;
  max-width: 740px;
  padding: 64px 60px 49px 71px;
  background-color: #ffffff;
}
.footer__wrap-left .line {
  margin-bottom: 65px;
}
.footer__wrap-left .line p {
  line-height: 21px;
  margin-bottom: 5px;
}
.footer__wrap-left .line .lines {
  width: 100%;
  height: 7px;
  max-width: 383px;
  background: #F6F6F6;
  border-radius: 5px;
  overflow: hidden;
}
.footer__wrap-left .line .lines__top {
  width: 25%;
  height: 100%;
  border-radius: 5px;
  background-color: #E8C48A;
}
.footer__wrap-right {
  color: #ffffff;
  padding: 59px 51px 30px 49px;
  background: -webkit-gradient(linear, left top, left bottom, from(#173363), to(#11264A)), #11264A;
  background: linear-gradient(180deg, #173363 0%, #11264A 100%), #11264A;
}
.footer__wrap-right span {
  width: 100%;
  max-width: 309px;
  display: block;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 20px;
}
.footer__wrap-right p {
  width: 100%;
  max-width: 306px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.footer__form label {
  display: block;
  font-weight: 400;
  line-height: 21px;
}
.footer__form form .error__form {
  width: 100%;
  max-width: 231px;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  background-color: #11264A;
  -webkit-box-shadow: 0 5px 10px #C4C4C4;
  box-shadow: 0 5px 10px #C4C4C4;
}
.footer__form form .error__form:after,
.footer__form form .error__form:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
}
.footer__form form .error__form:after {
  left: -5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #11264A;
}
.footer__form form button {
  width: 100%;
  max-width: 180px;
  line-height: 34px;
  margin-left: auto;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#D7B57E), to(#FAD08C));
  background-image: linear-gradient(90deg, #D7B57E 0%, #FAD08C 100%);
  border: 2px solid;
  font-size: 12px;
  font-weight: 500;
  margin-right: -25px;
  text-transform: uppercase;
  -o-border-image: conic-gradient(#D4AC6B, #FFDCA3, #FFDCA3, #D4AC6B, #D4AC6B, #D4AC6B, #D4AC6B) 1;
  border-image: conic-gradient(#D4AC6B, #FFDCA3, #FFDCA3, #D4AC6B, #D4AC6B, #D4AC6B, #D4AC6B) 1;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px #E9CFA6;
  box-shadow: 0 5px 10px #E9CFA6;
}
.footer__form form button:after {
  content: '';
  width: 53px;
  height: 45px;
  left: -65px;
  top: -15px;
  position: absolute;
  background-image: url(../img/arrow.svg);
}
.footer .global__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer .global__form form label {
  margin-bottom: 20px;
}
.footer .global__form form .form__input-summ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 56px;
  position: relative;
}
.footer .global__form form .form__input-summ input {
  width: 100%;
  max-width: 344px;
  padding: 0 16px;
  line-height: 50px;
  margin-right: 35px;
}
.footer .global__form form .form__input-summ .summ__error {
  right: 0;
}
.footer .number form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.footer .number__top {
  width: 56%;
  margin-right: 30px;
}
.footer .number__top textarea {
  width: 100%;
  max-width: 344px;
  min-height: 132px;
  resize: none;
  padding: 16px;
}
.footer .number__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -46px;
}
.footer .number__bottom .error__form {
  max-width: 243px;
  margin-bottom: 18px;
}
.footer .number__bottom .error__form:after {
  bottom: -13px;
  left: 50%;
  top: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #11264A;
}
.footer .number__bottom p {
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  margin-bottom: 5px;
}
.footer .number__bottom-input {
  position: relative;
  margin-bottom: 15px;
}
.footer .number__bottom-input:after {
  content: '';
  width: 15px;
  height: 14px;
  top: 17px;
  left: 12px;
  position: absolute;
  background-image: url(../img/icon-4.png);
}
.footer .number__bottom-input input {
  width: 100%;
  max-width: 238px;
  line-height: 50px;
  padding: 0 15px 0 35px;
  font-size: 18px;
}
.footer .number__bottom-ch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
}
.footer .number__bottom-ch label {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
  margin-left: 4px;
  color: rgba(17, 38, 74, 0.8);
}
.footer .number__bottom button {
  margin-left: auto;
}
.footer__proceed {
  width: 100%;
  max-width: 1148px;
  min-height: 400px;
  z-index: 1;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 0 30px;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffffff;
}
.footer__proceed a {
  width: 30px;
  height: 30px;
  right: 25px;
  top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
}
.footer__proceed a:after,
.footer__proceed a:before {
  width: 3.4px;
  height: 28px;
  content: '';
  position: absolute;
  border-radius: 5px;
  background-color: #C69642;
}
.footer__proceed a:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer__proceed a:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.footer__proceed ul li:first-child {
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 20px;
}
.footer__proceed ul li:nth-child(2),
.footer__proceed ul li:last-child {
  font-size: 18px;
  line-height: 25px;
}
.footer__proceed ul li:first-child,
.footer__proceed ul li:nth-child(2) {
  margin-bottom: 20px;
}
.footer__proceed ul li:nth-child(2) {
  font-weight: 400;
}
.footer__proceed span {
  line-height: 155px;
  font-size: 150px;
  bottom: -43px;
}
@media screen and (max-width: 1305px) {
  .cases__wrap .text {
    top: 88px;
    right: 0;
    left: 0;
    display: none;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  .cases__wrap .big-title {
    left: 20px;
    font-size: 140px;
  }
  .cases .slider__item-text {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .cases .slider__item-text h2 {
    margin-bottom: 10px;
  }
  .cases .slider__item-text p {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1199px) {
  .cases .owl-dots {
    right: 0;
    left: 40px;
    bottom: 25px;
  }
  .cases .owl-nav {
    bottom: 5px;
    left: 313px;
    right: 0;
  }
  .cases .slider__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .cases .slider__item-img {
    padding-left: 40px;
  }
  .cases .slider__item-img img {
    max-width: 400px;
  }
}
@media screen and (max-width: 991px) {
  .cases .owl-nav {
    left: auto;
    right: 40px;
  }
  .cases .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 40px;
  }
  .cases .slider__item-img {
    padding-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .cases .slider__item-img img {
    max-width: 500px;
  }
  .cases .slider__item-text {
    width: 100%;
    padding: 0;
    padding-bottom: 20px;
  }
  .cases .slider__item-text h2 {
    margin-bottom: 25px;
  }
  .cases .slider__item-text_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .cases .slider__item-text_wrap .text__item:first-child {
    margin-right: 30px;
  }
  .cases__items {
    grid-column-gap: 30px;
  }
  .footer__wrap-left {
    padding: 64px 30px 29px 41px;
  }
  .footer__wrap-right {
    padding: 29px 21px 30px 29px;
  }
  .footer__form form button {
    margin-right: 0;
  }
  .footer .number form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer .number__top {
    width: 100%;
    margin-bottom: 25px;
  }
  .footer .number__top textarea {
    max-width: 100%;
  }
  .footer .number__bottom {
    margin-top: 0;
  }
  .footer .number__bottom .error__form {
    max-width: 100%;
  }
  .footer .number__bottom-input input {
    max-width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .cases__center {
    text-align: center;
  }
  .cases__items {
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__wrap-left {
    padding: 64px 30px 29px 41px;
  }
  .footer__wrap-right {
    padding: 29px 21px 30px 29px;
  }
  .footer__wrap-right span,
  .footer__wrap-right p {
    max-width: 100%;
  }
  .footer__proceed span {
    font-size: 110px;
    bottom: -50px;
  }
}
@media screen and (max-width: 576px) {
  .cases__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .cases .slider__item-text_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cases .slider__item-text_wrap .text__item:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer .global__form form .form__input-summ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer .global__form form .form__input-summ input {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 35px;
  }
  .footer .global__form form .form__input-summ .summ__error {
    max-width: 100%;
  }
  .footer .global__form form .form__input-summ .summ__error span {
    display: none;
  }
  .footer .global__form form .form__input-summ .summ__error:after {
    left: 50%;
    top: -13px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #11264A;
  }
  .footer__proceed span {
    font-size: 66px;
    bottom: -58px;
  }
  .jq-selectbox {
    max-width: 100%;
    margin-bottom: 35px;
    margin-right: 0;
  }
}
